/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.page-content{
  background-color: #012030;
  min-height: 100vh;
  display: flex;
  color: aqua;
  gap: 10px;
}

.side-navbar{
  background-color: #13678A;
  padding: 2rem;
  color: #9AEBA3;
}

li{
  text-decoration: none;
  list-style-type: none;
}

.nav-btns {
  padding: 12px 2rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: #45C4B0;
  width: 100%;
}

.nav-btns:hover{
  background-color: #012030;
}

.content-container{
  width: 100%;
}